<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bvu.assistant">
    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="m">

        <activity
            android:name=".view.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LoginActTheme">
        </activity>

        <activity
            android:name=".view.activities.NewsDetailActivity"
            android:launchMode="standard"
            android:theme="@style/OfficeViewerTheme" />
        <activity
            android:name=".view.activities.DocumentViewerActivity"
            android:launchMode="singleTop"
            android:theme="@style/OfficeViewerTheme" />
        <activity
            android:name=".view.activities.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.NewsListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="ON_NEW_HEADLINES" />
            </intent-filter>
        </service>
    </application>

</manifest>