<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bvu.assistant">
    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="m">
        <activity android:name=".ui.main.home.functions.HomeFunctionsActivity" android:theme="@style/OfficeViewerAct"/>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleInstance"
            android:theme="@style/LoginAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.news.details.NewsDetailActivity"
            android:launchMode="standard"
            android:theme="@style/OfficeViewerAct" />
        <activity
            android:name=".ui.document_viewer.DocumentViewerActivity"
            android:launchMode="singleTop"
            android:theme="@style/OfficeViewerAct" />
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".system.services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".system.services.NewsListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="ON_NEW_HEADLINES" />
            </intent-filter>
        </service>
    </application>

</manifest>